.app_section_container {
    position: relative;
    width: calc(100% - 300px);
    top: 0;
    left: 150px;
    z-index: 2
}

.pointer{
    cursor: pointer;
}

@media (max-width:768px) {
    .app_section_container {
        position: relative;
        width: 90%;
        left: 1rem
        
    }
}